// Style of censored content
.censor {
  &.element {
    filter: blur(10px) saturate(0.5) !important;
  }

  &.text {
    color: #00000000 !important;
    background-color: black !important;

    &::selection {
      background-color: blue !important;
    }
  }
}
